<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Patterns" value="-1" />
    <add key="VisibleCols" value="2" />
    <add key="Height1" value="159" />
    <add key="Height2" value="148" />
    <add key="Height4" value="159" />
    <add key="Height5" value="148" />
    <add key="Height7" value="162" />
    <add key="Height8" value="145" />
    <add key="Height10" value="165" />
    <add key="Height11" value="142" />
    <add key="pnlCol1" value="208" />
    <add key="Folder1" value="" />
    <add key="Folder2" value="" />
    <add key="Folder3" value="" />
    <add key="pnlCol2" value="919" />
    <add key="Folder4" value="" />
    <add key="Folder5" value="" />
    <add key="Folder6" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Dev Server" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=tpg-sql-testenv\dev,2866" />
    <add name="QA Server" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Data Source=tpg-sql-testenv\qa,2867" />
    <add name="localhost" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Data Source=localhost" />
  </connectionStrings>
</configuration>